<li>
	{{name}}

	<button class="munchBtn" data-id="{{id}}" data-munched="{{munched}}">
		{{#if munched}}Munch!{{else}}undo{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>