<li>
	{{name}}

	<button class="munchBtn" data-id="{{id}}" data-munched="{{munched}}">
		{{#if munched}}Munch!{{else}}Undo!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
